/* font-family: 'Mansalva', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Arvo', serif; */
*{
  text-align: center;
  font-family: 'Arvo', serif;
  color:#631f07;
  font-size: 30px;
  
}
body{
  background-image: url('https://www.maxpixel.net/static/photo/2x/Freshwater-Fish-Goldfish-Fish-Scales-Scale-365085.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  height:100vh;
  background-color:#d68248;
  
}
div{
  /* background-color: blue; */
  position: relative;
  width:100%;
  z-index: 0;
}
div > h1{
  position: absolute;
  z-index: 10;
  display: block;
  top: 40%;
  font-size: 50px;
  color: white;
  width:100%;
  text-align: center;
  padding: 20px 0;
  font-family: 'Mansalva', cursive;
}
body > h1{
  font-family: 'Oswald', sans-serif;
  color:#2f170a;
  font-size: 25px;
  margin-bottom: 20px;
}
button{
  background-color: #965d22
}
button > a{
  text-decoration: none;
  color:#2f170a;
  padding: 20px 20px;
}
label{
  font-family:'Mansalva', cursive;
  color:#631f07;
  font-size:28px;
  width:80%;
  margin:auto;
}
section{
  width:90%;
  padding:10px;
  background-color:rgb(183, 65, 6, .6);
  margin:auto;
}
table{
  font-family:'Mansalva', cursive;
  color:#631f07;
  width:80%;
  margin:auto;
}
table > tr > th{
  color:#631f07;
  font-size: 28px;
  padding:4px;
}
h2{
  font-family: 'Arvo', serif;
  color:#631f07;
  font-size: 30px;
  padding: 20px 20px;
}

